*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display:  inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 8px;
}
button {
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    background: rgb(33, 227, 237);
}

button:hover {
    color: white;
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
}

li a.active,  li a:hover{
    background: black;
    transition: all 1s;
    color: blueviolet;
}

.checketBtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#checket {
    display: none;
}

section {
    background: url(color2.jpg) no-repeat;
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center center;
}

@media (max-width: 900px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width: 700px) {
    .checketBtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: purple;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: rebeccapurple;
    }

    #checket:checked ~ ul {
        left: 0;
    }
}




